body {
  background-color: white; 
}
h1 {
  color: black;
  text-align: center;
}
canvas {
  border: 1px solid black;
}
/* Remove list styles */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

/* Main app container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.canvas-container {
  margin: 10px;
}
.tools-container {
  display: flex;
  flex-direction: column;
  
  width: 200px;

  margin: 10px;
  padding: 5px;

  background-color: silver;
}

.undo-redo-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
.undo-button, .redo-button {
  display: inline-block;
  font-size: 40px;

  cursor: pointer;
}

.color-container, .line-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  margin: 10px 0;
}
#color-tool {
  padding-left: 15px;
}
.color-button {
  display: block;
  float: left;
  
  width: 20px;
  height: 20px;

  border-radius: 20px;
  border: 1px solid white;

  margin: 1px;

  cursor: pointer;
}

.line-button {
  display: block;
  float: left;

  width: 188px;
  height: 1px; /* default */

  border: 1px solid rgba(0, 0, 0, 0);

  margin: 5px;
  background-color: black;

  cursor: pointer;
}

.selected {
  border: 1px solid red;
  pointer-events: none;
}